<div class="row">
  <div class="col-lg-6">
    <img src="{{ plots.objects_per_image }}" class="img-fluid" alt="Objects per Image">
  </div>
  <div class="col-lg-6">
    <img src="{{ plots.heatmap }}" class="img-fluid" alt="Object Location Heatmap">
  </div>
  <div class="col-lg-6">
    <img src="{{ plots.object_sizes_abs }}" class="img-fluid" alt="Object Sizes in Pixels">
  </div>
  <div class="col-lg-6">
    <img src="{{ plots.object_sizes_rel }}" class="img-fluid" alt="Object Sizes in Percent">
  </div>
  <div class="col-lg-6">
    <img src="{{ plots.side_length_avg }}" class="img-fluid" alt="Object Side Length Average">
  </div>
  <div class="col-lg-6">
    <img src="{{ plots.rel_area }}" class="img-fluid" alt="Object Relative Area">
  </div>
</div>